.searchbox {
  position: relative;
}

.suggestions {
  position: absolute;
  z-index: 2;
  background-color: hsl(0, 0%, 90%);
  list-style-type: none;
  border-radius: 5px;
}

.suggestion {
  padding: 5px 10px;
  transition: 0.2s;
}

.suggestion:hover {
  background-color: hsl(0, 0%, 21%);
  color: hsl(0, 0%, 96%);
  cursor: pointer;
}
