.content {
  border-radius: 6px;
  padding: 10px;
}

.advancedTuning {
  border: solid 1px black;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.advancedTuner {
  flex: 1;
  min-width: 15%;
}
