body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  border-radius: 5px;
}

/* scrolling text overflow styles */
.overflow-container {
  overflow: hidden;
}

.scroll-on-overflow {
  width: 100%;
  transition: transform 1s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scroll-on-overflow.overflowing:hover {
  overflow: unset;
  text-overflow: unset;
  width: unset;
  transition: transform 3s linear;
  transform: translateX(-100%);
}
