name: CI

on:
  pull_request:
    branches: [ master ]

jobs:
  Run tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup node
      uses: actions/setup-node@v1.4.2
    - name: install node deps
      run: yarn --frozen-lockfile
    - name: run tests
      run: yarn test
